X_BEARER_TOKEN=SEU_TOKEN_AQUI
ALCHEMY_ETH_WSS_URL=wss://eth-mainnet.g.alchemy.com/v2/SUA_CHAVE_AQUI
ALCHEMY_ETH_HTTPS_URL=https://eth-mainnet.g.alchemy.com/v2/SUA_CHAVE_AQUI
ALCHEMY_BASE_WSS_URL=wss://base-mainnet.g.alchemy.com/v2/SUA_CHAVE_AQUI
ETHERSCAN_API_KEY=SUA_CHAVE_ETHERSCAN_V2_AQUI
TELEGRAM_BOT_TOKEN=SEU_BOT_TOKEN_AQUI
TELEGRAM_TRADING_CHAT_ID=SEU_CHAT_ID_TRADING_AQUI
TELEGRAM_TRADING_THREAD_ID=
TELEGRAM_SYSTEM_CHAT_ID=SEU_CHAT_ID_ADMIN_AQUI
TELEGRAM_SYSTEM_THREAD_ID=
